<section class="homepage">
  <app-banner
    src="assets/imagens/banner-homepage.png"
    alt="Banner da aplicação Jornada"
  ></app-banner>
  <app-container>
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
      <app-card-busca
        src="assets/imagens/bhamas.jpg" 
        alt="Imagem de Bahamas"
        valor="500"
        nome="Bahamas"
        descricao="As Bahamas são um destino de sonho para qualquer viajante. Com mais de 700 ilhas, o arquipélago oferece praias paradisíacas de areia branca e águas cristalinas, perfeitas para relaxar e praticar esportes aquáticos como mergulho e snorkeling. Além disso, a vibrante vida noturna, a deliciosa gastronomia local, com destaque para os frutos do mar, e a rica cultura, com festivais como o Junkanoo, tornam a experiência ainda mais inesquecível12. Visitar as Bahamas é garantir momentos de lazer, aventura e muita beleza natural.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/patagonia.jpg" 
        alt="Imagem de Patagonia"
        valor="600"
        nome="Patagonia"
        descricao="A Patagônia é um destino imperdível para os amantes da natureza e da aventura. Com suas paisagens deslumbrantes, que incluem montanhas imponentes, glaciares majestosos e vastas estepes, a região oferece oportunidades únicas para trilhas, observação de vida selvagem e exploração de cenários intocados. Além disso, a cultura local e a hospitalidade dos habitantes tornam a viagem ainda mais especial.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/grecia.jpg" 
        alt="Imagem de Grecia"
        valor="550"
        nome="Grecia"
        descricao="A Grécia é um destino que combina história rica, paisagens deslumbrantes e uma cultura vibrante. Desde as ruínas antigas de Atenas até as praias paradisíacas de Santorini e Mykonos, há algo para todos os gostos. A gastronomia deliciosa, com pratos como moussaka e souvlaki, e a hospitalidade calorosa dos gregos tornam a viagem inesquecível.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/Veneza.png" 
        alt="Imagem de Veneza"
        valor="650"
        nome="Veneza"
        descricao="Veneza é uma cidade única, conhecida por seus canais românticos, arquitetura histórica e atmosfera encantadora. Passear de gôndola pelo Grande Canal, explorar as ruelas estreitas e visitar marcos icônicos como a Praça de São Marcos são experiências imperdíveis. A cidade também é famosa por sua arte, cultura e culinária deliciosa.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/italia.png" 
        alt="Imagem de Italia"
        valor="500"
        nome="Italia"
        descricao="A Itália é um destino que encanta com sua rica história, arte magnífica e culinária deliciosa. De Roma, com seus monumentos antigos, a Florença, berço do Renascimento, e Veneza, com seus canais românticos, cada cidade oferece uma experiência única. Além disso, a gastronomia italiana, com pratos como pizza, pasta e gelato, é um verdadeiro deleite para os sentidos.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/marrocos.jpg" 
        alt="Imagem de Marrocos"
        valor="500"
        nome="Marrocos"
        descricao="Marrocos é um destino fascinante que combina cultura rica, paisagens diversificadas e uma hospitalidade calorosa. Explore as medinas vibrantes de Marrakech e Fez, aventure-se nas dunas do Saara e relaxe nas praias do Atlântico. A culinária marroquina, com pratos como tagine e cuscuz, é uma experiência à parte.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/belgica.jpg" 
        alt="Imagem de Belgica"
        valor="500"
        nome="Belgica"
        descricao="A Bélgica é um destino encantador, conhecido por suas cidades históricas, arquitetura impressionante e deliciosa gastronomia. Visite Bruxelas, com sua famosa Grand Place, e Bruges, com seus canais pitorescos. Não deixe de provar os famosos chocolates belgas e as cervejas artesanais.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/canada.jpg" 
        alt="Imagem de Canada"
        valor="500"
        nome="Canada"
        descricao="O Canadá é um destino incrível que oferece uma combinação única de belezas naturais e cidades cosmopolitas. Com paisagens que vão desde as majestosas Montanhas Rochosas até as impressionantes Cataratas do Niágara, o país é um paraíso para os amantes da natureza. Além disso, cidades como Toronto, Vancouver e Montreal são conhecidas por sua diversidade cultural, segurança e hospitalidade. A culinária canadense, com delícias como poutine e maple syrup, e a oportunidade de ver a aurora boreal são apenas alguns dos motivos que tornam o Canadá um destino imperdível.">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/amsterdam.jpg" 
        alt="Imagem de Amsterdam"
        valor="500"
        nome="Amsterdam"
        descricao="Amsterdam é uma cidade charmosa e cheia de vida, famosa por seus canais pitorescos, museus renomados e atmosfera acolhedora. Explore o Museu Van Gogh, faça um passeio de bicicleta pelos canais e desfrute da vibrante vida noturna. A cidade também é conhecida por sua tolerância e diversidade cultural.">
      </app-card-busca>
     
    </div>
    <h2>Depoimentos</h2>
    <div class="card-wrapper">
      <app-card-depoimento></app-card-depoimento>
    </div>
  </app-container>
  <app-banner
    src="assets/imagens/banner-homepage-rodape.png"
    alt="Banner da aplicação Jornada">
  </app-banner>
</section>
